<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServiceAddress" value="https://localv4.dossiersystems.com/svc/dossier"/>
    <!--Comma separated list of allowed host for SSO-->
    <add key="SsoAllowedHosts" value="powerlabs04.powerschool.com"/>
  </appSettings>
  <connectionStrings>
    <!--Connection string to main DB of DossierV4-->
    <add name="DossierDB" connectionString="uid=sa;password=*intel$ADMIN*;data source=.\SERVER;initial catalog=DosV4_2"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>